.root {
    display: flex;
    position: absolute!important;
    top: 0;
    left: 0;
    z-index: 100!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;

    .back-button {
        top: 0;
        border-radius: 0!important;
    }
}
