.price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 5000;
    flex-direction: column;
    padding: 10px 0;
    background-color: #dbdbdb;

    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;

        > span {
            margin: 0 5px;
        }
    }

    .play {
        animation: price-animation 0.2s ease;
    }

    .buy {
        min-width: 50%;
        box-sizing: border-box;
    }

    @keyframes price-animation {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
}
