.dialog {
    min-width: 400px;

    @media (max-device-width: 400px) {
        min-width: 100%;
        max-width: 100%;
    }

    .closeButton {
        position: absolute;
        right: 0;
    }

    .content {
        display: flex;
        flex-direction: row;
        min-height: 50vh;
        justify-content: center;
        align-items: stretch;

        .product-preview {
            min-width: 50%;
            flex-grow: 4;
        }

        .description {
            min-width: 200px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-grow: 1;

            .total-price {
                margin: 0;
            }

            .buttons {
                width: 100%;
                margin-top: 10px;

                button {
                    width: 100%;
                }
            }
        }
    }
}
